.button {
    position: relative !important;
    float: right !important;
    margin-left: 10px;
    background-color: red;
    color: white;
    height: 20px !important;
    font-size: 10px !important;
    line-height: 25px !important
}

.popUp {
    position: relative;
    width: 100%;
}

.message {
    font-size: 12px;
}